.DashboardLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ff9999;
    background: #f38d8d;
}
.DashboardLayout.container {
    align-self: stretch;
    flex-direction: column;
}
.DashboardLayout .editButton {
    align-self: flex-start;
}
.DashboardLayout .widget-rows {
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    display: inline-flex;
}